<header class="navigation">
    <nav>
        <nav class="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="">
                <i class="fa-solid fa-money-bill-1-wave fa-2xl"></i>
                Piggy Bank App
              </a>
              <div>
                  <button class="btn btn-outline-primary me-2" type="submit" routerLink="user/login">Login</button>
                  <button class="btn btn-outline-primary" type="submit" routerLink="user/register">Register</button>
              </div>
            </div>
          </nav>
    </nav>
</header>