.navigation{
    height: 50vh;
    width: 100%;
    background: url('https://static.vecteezy.com/system/resources/previews/010/200/243/original/mobile-banking-and-finance-management-internet-payments-transfers-and-deposits-human-hand-hold-smartphone-for-online-banking-and-accounting-piggy-bank-manage-finances-save-for-future-investment-vector.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0px -15px;
}